/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*_______________________top_menu_____________________________ */

#top_menu_div {
	-fx-background-color: #369;
}

#barre_de_recherche {
	-fx-pref-width: 600px;
	-fx-padding: 10px;
	-fx-background-radius: 30px;
}
#barre_de_recherche:hover {
	-fx-border-color: red;
	-fx-border-width: 2px;
	-fx-border-radius: 30px;
}


#loupe {
	-fx-background-size: 30px;
	-fx-size: 30px;
}


#list_view {
	-fx-pref-width: 120px;
	-fx-pref-height: 50px;
}
#list_view:hover {
	-fx-background-color: red;
}


/*_______________________________________________________________ */


#menu_left_div {
	-fx-background-color: #aaa;
	-fx-pref-width: 200px;
	-fx-pref-height: 800px;
}

