/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*_______________________menu_du_haut_____________________________ */

#top_menu_div {
	-fx-background-color: #369;
}

#barre_de_recherche {
	-fx-pref-width: 600px;
	-fx-padding: 10px;
	-fx-background-radius: 30px;
}
#barre_de_recherche:hover {
	-fx-border-color: red;
	-fx-border-width: 2px;
	-fx-border-radius: 30px;
}


#loupe {
	-fx-background-size: 30px;
	-fx-size: 30px;
}


#list_view {
	-fx-pref-width: 120px;
}

#list_view:hover {
	-fx-background-color: red;
}


/*___________________________menu_de_gauche___________________________ */


#menu_left_div, #m, .button_left {
	-fx-pref-width: 200px;
	-fx-background-color: #aaa;
}

#menu_left_div {
	-fx-pref-height: 800px;
}

#m, .button_left {
	-fx-pref-height: 200px;
	-fx-border-insets: 5;
	-fx-border-width: 0 0 2 0;
	-fx-border-style: solid;
}

